<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- SIDEBAR (ONLY NEW PART) -->
<div class="sidebar">
        <div class="sdbr">
            <!--     <h3 class="sidebar-title">Menu</h3> -->
            <a th:href="@{/(page=${page})}" class="sidebar-link">
                Expenses
            </a>

            <a th:href="@{/dashboard}" class="sidebar-link">
                Dashboard
            </a>

            <!-- ADD EXPENSE -->
            <a th:href="@{/new(page=${currentPage})}" class="sidebar-link active">
                Add Expense
            </a>
            <a th:href="@{/about}"
               class="sidebar-link">
                About
            </a>
        </div>

</div>
<h2 class="page-title">Add Expense</h2>

<div class="form-container">

    <form th:action="@{/save}" th:object="${expense}" method="post">

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" name="page" th:value="${page}" />
        <input type="text" th:field="*{title}" placeholder="Title"/>
        <input type="text" th:field="*{category}" placeholder="Category"/>
        <input type="number" th:field="*{amount}" placeholder="Amount"/>
        <input type="number" th:field="*{unitCost}" placeholder="Unit Cost"/>
        <input type="date" th:field="*{date}"/>

        <button type="submit">Save</button>

    </form>

</div>

</body>
</html>